body {
    background-image: url(../img/background/keith-misner-h0Vxgz5tyXA-unsplash.jpg);
    color: #4d0808;
}

h1 {
    margin: auto;
}

a {
    text-decoration-color: darkslategray;
}

table {
    border: 1px solid #aa7777;
    margin: auto;
}

td {
    padding: .5rem;
}

.minikep {
    float: right;
    width: 400px;
    margin-left: 20px;
    border: 3px solid #4d0808;
}

p {
    line-height: 1.5;
    text-indent: 1cm;
}

.kepek {
    text-align: center;
    float: none;
}
.kep{
width: 280px;
vertical-align: middle;
background-color:white;
padding: 10px;
margin: 5px;
border: 1px solid #4d0808;
box-shadow: 3px 3px 10px #4d0808;


}